<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="#" title="CV">CV</a></li>
		<li><a href="https://github.com/mtondolo">Projects</a></li>
		<li class="{{ page.<a href="https://github.com/mtondolo">}}"><a href="/notes" title="Notes">Notes</a></li>
		<li class="{{ page.notes }}"><a href="/notes" title="Notes">Notes</a></li>
		<li class="{{ page.contact }}"><a href="/contact" title="Contact">Contact</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Musa Tondolo</a></h3>
</div> <!-- /header -->
